# Cache and filesystem related
.DS_Store
__pycache__
p4vasp.log


# IDE related
.vscode/
.idea/


# Virtual envs
.conda
.venv
conda
venv


# Dataset
dataset/*
!dataset/README.md


# Cached labels and features for model training
labels.npy
features.npy


# Occlusion and perturbation experiment images
perturbation_line.png


# Latex
*.acn
*.acr
*.alg
*.aux
*.bak
# *.bbl  # ArXiv: https://trevorcampbell.me/html/arxiv.html
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak
.mtc
build/
